[Unit]
Description=record dashcam

[Service]
ExecStart=/bin/bash /home/pi/CamProj/scripts/shell/record.sh
Restart=always

[Install]
WantedBy=multi-user.target
